@model Net_Mvc_Workshop_1.Models.BookSearchArg

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Book", FormMethod.Post, new { id = "Form1" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.BOOK_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BOOK_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BOOK_NAME, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BOOK_CLASS_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BOOK_CLASS_ID, (List<SelectListItem>)ViewBag.BookClassSelectList, "請選擇", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.USER_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.USER_ID, (List<SelectListItem>)ViewBag.MemberSelectList, "請選擇", new { @class = "form-control" })
        </div>
    </div>


}

<table border="1" style="text-align:center;">
    <tr>
        <td>書籍編號</td>
        <td>書籍名稱</td>
        <td>書籍類別</td>
        <td>書籍作者</td>
        <td>購買日期</td>
        <td>出版商</td>
        <td>內容簡介</td>
        <td>借閱狀態</td>
        <td>書籍保管人</td>
        <td>建立時間</td>
        <td>建立使用者</td>
        <td>修改時間</td>
        <td>修改使用者</td>
    </tr>
    @foreach (var item in @ViewBag.Books)
    {
        <tr>
            <td>@item.BOOK_ID</td>
            <td>@item.BOOK_NAME</td>
            <td>@item.BOOK_CLASS_ID</td>
            <td>@item.BOOK_AUTHOR</td>
            <td>@item.BOOK_BOUGHT_DATE</td>
            <td>@item.BOOK_PUBLISHER</td>
            <td>@item.BOOK_NOTE</td>
            <td>@item.BOOK_STATUS</td>
            <td>@item.BOOK_KEEPER</td>
            <td>@item.CREATE_DATE</td>
            <td>@item.CREATE_USER</td>
            <td>@item.MODIFY_DATE</td>
            <td>@item.MODIFY_USER</td>
        </tr>
    }
</table>

<button id="insert_btn">新增</button>


<script type="text/javascript">
    var list = @ViewBag.Books;
    console.log(list);

</script>