@model Net_Mvc_Workshop_1.Models.BookSearchArg

@{
    ViewBag.Title = "Index";
}

<h2>圖書維護系統</h2>

@using (Html.BeginForm("Index", "Book", FormMethod.Post, new { id = "Form1" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.BOOK_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BOOK_NAME, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BOOK_NAME, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BOOK_CLASS_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BOOK_CLASS_ID, (List<SelectListItem>)ViewBag.BookClassSelectList, "請選擇", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.USER_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.USER_ID, (List<SelectListItem>)ViewBag.MemberSelectList, "請選擇", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CODE_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CODE_ID, (List<SelectListItem>)ViewBag.BookStatusSelectList, "請選擇", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <input class="btn btn-light" type="submit" value="查詢" />
            <input class="btn btn-light" type="reset" value="清除" />
            <input class="btn btn-light" type="button" value="新增" onclick="location.href='@Url.Action("InsertBook","Book")'" />
        </div>
    </div>


}


<table class="table table-hover table-bordered" style="text-align:center;">
    <tr>
        <th scope="col">書籍編號</th>
        <th>書籍名稱</th>
        <th>書籍類別</th>
        <th>書籍作者</th>
        <th>購買日期</th>
        <th>出版商</th>
        <th>內容簡介</th>
        <th>借閱狀態</th>
        <th>書籍保管人</th>
        <th>建立時間</th>
        <th>建立使用者</th>
        <th>修改時間</th>
        <th>修改使用者</th>
        <th></th>
    </tr>
    @foreach (var item in @ViewBag.Books)
    {
        <tr>
            <th scope="row">@item.BOOK_ID</th>
            <td>@item.BOOK_NAME</td>
            <td>@item.BOOK_CLASS_ID</td>
            <td>@item.BOOK_AUTHOR</td>
            <td>@item.BOOK_BOUGHT_DATE</td>
            <td>@item.BOOK_PUBLISHER</td>
            <td>@item.BOOK_NOTE</td>
            <td>@item.BOOK_STATUS</td>
            <td>@item.BOOK_KEEPER</td>
            <td>@item.CREATE_DATE</td>
            <td>@item.CREATE_USER</td>
            <td>@item.MODIFY_DATE</td>
            <td>@item.MODIFY_USER</td>
            <td>
                <button class="btn btn-light" id="update_btn" type="button" onclick="location.href='@Url.Action("UpdateBook","Book",new { id=item.BOOK_ID })'">編輯</button>
                <button class="btn btn-danger" id="delete_btn" type="button" onclick="location.href='@Url.Action("DeleteBook","Book",new { id=item.BOOK_ID })'">刪除</button>
            </td>
        </tr>
    }
</table>

@ViewBag.form

